body{
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}

.title{
  font-size: 30px;
  font-weight: bold;
}

.move-icons{
  height: 70px;
  
  border-radius: 50%;
 
}
.move-button{
  background-color: rgb(25, 25, 25);
  border: 3px solid white;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  cursor: pointer;
  margin-right: 10px;

}

.result{
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
}
.score{
  margin-top: 60px;
}
.reset-score-button,
.auto-play-button {
 background-color: rgb(71, 150, 71);
 color: white;
 border-radius: 8px;
  border: none;
  font-size: 20px;
  padding: 8px 15px;
  cursor: pointer;
  margin-bottom: 50px;
}

